{% extends 'u_base.html' %}
{% load static %}
{% block title %}
    <title>首页</title>
    {% endblock %}
{% block mainbody %}

    <div class="row">
        <div class="col-md-3 wrap">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <h3 class="panel-title">预售车次</h3>
                </div>
                <div class="panel-body">
                    <td class="form-group">
                    <h5>起点</h5>
                    <input type="text" name="startcity" id="startcity" class="form-control first-input" >
                    <h5>终点</h5>
                    <input type="text" name="arrcity" id="arrcity" class="form-control first-input">
                    <h5>发车日期</h5>
                    <input type="date" name="time" id="time" class="form-control first-input" placeholder="时间">
                <br>
                <div class="form-group">
                    <input type="submit" id="btn" class="btn btn-primary btn-block btn-md" value="查询">
                </div>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide col-md-6 wrap">
	    <!-- 轮播（Carousel）指标 -->
	    <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
	    </ol>
	    <!-- 轮播（Carousel）项目 -->
	    <div class="carousel-inner">
		    <div class="item active">
			    <img src="{% static 'images/login.jpg' %}" alt="First slide">
		    </div>
		    <div class="item">
			    <img src="{% static 'images/login2.jpg' %}" alt="Second slide">
		    </div>
		    <div class="item">
			    <img src="{% static 'images/login.jpg' %}" alt="Third slide">
		    </div>
            <!-- 轮播（Carousel）导航 -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div>
    </div>

    <div class="col-md-3 wrap">
        <div class="panel panel-default">
            <div class="panel-heading ">
                <h3 class="panel-title">帮助指南</h3>
            </div>
            <div class="panel-body info">
                xxxx
            </div>
          </div>
    </div>
 </div>
<div class="panel panel-default" style="height: 150px">
  hhh
</div>

{#  <div class="panel panel-default">#}
{#        <div class="panel-heading ">#}
{#            <h3 class="panel-title" style="text-align:left">热门路线</h3>#}
{#        </div>#}
{#        <div class="panel-body">#}
{#            <div class="row">#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--珠海北岭</h5></a>#}
{#                </div>#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--佛山三乡</h5></a>#}
{#                </div>#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--佛山三乡</h5></a>#}
{#                </div>#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--佛山三乡</h5></a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--珠海北岭</h5></a>#}
{#                </div>#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--佛山三乡</h5></a>#}
{#                </div>#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--佛山三乡</h5></a>#}
{#                </div>#}
{#                <div class="col-md-3 wrap">#}
{#                    <a href="#" name="login"><h5>广州商学院--佛山三乡</h5></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#  </div>#}


{% endblock %}

